
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Geral*/
*{
    margin: 0;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
html{
    scroll-behavior: smooth; /*scroll suave*/
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8vw + 1.3vh); 
    font-weight: 300;
}
body{
    color: whiteSmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    background-position: center;

}
main{
    height: 85vh;
    background-image: url("assets/bannerf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115vh;
}
header{
    position: relative;
    display: flex;
    height: 15vh;
    font-weight: 400;
    font-size: calc(16px + 0.2vw);
}
nav{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    gap: .8rem;
}
a{
    text-decoration: none;
    color: rgb(203, 220, 233);
}
a:hover{
    text-decoration: none;
    color: rgb(223, 199, 199);
}
h1{
    background: -webkit-linear-gradient(45deg,rgba(0, 92, 92, 0.8), pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    justify-content: left;
    font-size: calc(8vw + 8vh);
    line-height: 80vh;    font-family: 'Bangers', cursive;

}
h2, h3{
    padding-top: 50px;
}
h3{
    font-weight: 400;
}
#idObj, #idCarac{
    padding-top: 25px;
    padding-left: 7vw;
}
.sectionBio{
    height: 100vh;
    color: rgb(17, 17, 17);
    background-color: whitesmoke;
}
.pbio{
    padding-top: 35px;
    color: rgb(17, 17, 17);
  }
p{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 15px;
    text-align: justify;
}
.sectionPersonagem{
    height: auto;
    padding-bottom: 50px;
    text-align: justify !important;
    background-color: black;
}
.h2Personagem{
    text-align: center !important;
}
.container{
    background-color: #caa18e;
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: auto;
}
.articleQuali{
    text-align: center !important;
    width: 50%;
    background-color: #052128;
}
.articleHabili{
    text-align: center !important;
    width: 50%;
    color: black;
}
.pcaracteristicas{
    text-align: justify;
}
 .pqualidades, .phabilidades{
    text-align: center !important;
    flex-basis: 50%;
}
.phabilidades{
    color: black;
}
/*página sobre*/
.sectionSobre{
    padding-right: 50px;
    padding-left: 50px;
    height: auto;
    padding-bottom: 50px;
    color: whitesmoke;
}
#gif{
    padding-top: 50px;
    width: calc(25vw + 25vh);
    height: auto;
}
#descricao{
    text-align: center !important;
    line-height: calc(1vw + 2vh);
    padding-top: 35px;
}
.sitesFav{
    padding-right: 50px;
    padding-left: 50px;
    color: black;
    height: auto;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}
#btnVoltar{
    padding-top: 50px;
}
footer{
    background-color: black;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 15vh;
}