@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "compacta-bold-italic-bt";
    src: url(assets/compacta-bold-italic-bt.ttf);
}

/*Geral*/
*{
    margin: 0;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
html{
    scroll-behavior: smooth; /*scroll suave*/
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8vw + 1.3vh); 
    font-weight: 300;
}
body:not(h1){
    color: whiteSmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    background-position: center;
}
main{
    height: 85vh;
    background-image: url("assets/bannerf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115vh;
}
header{
    position: relative;
    display: flex;
    height: 15vh;
    font-weight: 400;
    font-size: calc(16px + 0.2vw);
}
nav{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    gap: .8rem;
}
a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}
a:hover{
    text-decoration: none;
    color: rgba(0, 238, 255, 0.493);
}
h1{
    color: #008b8b90;
    font-weight: 100;
    justify-content: left;
    font-size: calc(8vw + 8vh);
    line-height: 80vh;    
    font-family: "compacta-bold-italic-bt";
}
h2, h3{
    padding-top: 50px;
}
h2{
    letter-spacing: .1rem;
    font-size: calc(1.8vw + 1.5vh); 
    /*font-family: 'Bangers', cursive;*/
    font-family: "compacta-bold-italic-bt";
}
h3{
    font-weight: 500;
    color: #dde4eb;
}
svg{
    opacity: 0.4;
    position: absolute;
    color: yellow;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
svg:hover{
    color: #008b8b90;
}
#idObj, #idCarac, #idHabili{
    padding-top: 25px;
    padding-left: 7vw;
}
.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.sectionBio{
    height: 100vh;
    background-color: #000e0e;
    background-position: center;
    background-repeat: no-repeat;
}
.pbio{
    padding-top: 35px;
  }
.pbio::first-letter{
    font-size: 2rem;
}
p{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 15px;
    text-align: justify;
}
.h2Personagem{
    text-align: center !important;
}
.sectionPersonagem{
    height: auto;
    padding-bottom: 50px;
    text-align: justify !important;
    background-color: #070707;
}
.container{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: auto;
}
.articleQuali{
    text-align: center !important;
    width: 50%;
    background-color: #000e0e;
    color: black;
}
.articleDefeitos{
    text-align: center !important;
    width: 50%;
    color: whitesmoke;
    background-color: #000e0e;
}
.pcaracteristicas, .phabilidades{
    text-align: justify;
}
 .pqualidades, .pdefeitos{
    text-align: center !important;
    flex-basis: 50%;
    color: whitesmoke;
}
hr{
    border-color: rgb(40, 180, 199);
}
.imgDog{
    border: 2px solid rgba(255, 255, 0, 0.479);
    width: 85%;
    height: auto;
    margin-top: 35px;
}
.secGosta{
    height: auto;
    padding-bottom: 50px;
    background-color: #070707;
}
#pGosta{
    margin-top: 35px;
}
.secSites{
    background-color: #000e0e;
}
.pSites{
    text-align: center;
    margin-bottom: 35px;
}
footer{
    background-color: #070707;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 15vh;
}