@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "compacta-bold-italic-bt";
    src: url(assets/compacta-bold-italic-bt.ttf);
}

/*Geral*/
*{
    margin: 0;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}
html{
    scroll-behavior: smooth; /*scroll suave*/
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8vw + 1.3vh); 
    font-weight: 300;
}
body:not(h1){
    color: whiteSmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
}
main{
    min-height: 85vh;
    background-image: url("assets/bannerf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115vh;
}
header{
    position: relative;
    display: flex;
    height: 15vh;
    font-weight: 400;
    font-size: calc(12px + 0.4vw);
}
nav{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    list-style: none;
    float: left;
    padding: .8rem;
}
nav ul{
    padding-left: 0; /*pra tirar aql espacinho chato da lista*/
}
a{
    text-decoration: none;
    font-weight: 300;
    color: #ffffffc0;
}
a:hover{
    text-decoration: none;
    color: rgba(0, 238, 255, 0.493);
}
h1{
    color: #008b8b90;
    font-weight: 100;
    justify-content: left;
    font-size: calc(10vw + 6vh);
    line-height: 80vh;    
    font-family: "compacta-bold-italic-bt";
}
h2, h3{
    padding-top: 50px;
}
h2{
    letter-spacing: .1rem;
    font-size: calc(1.8vw + 1.5vh); 
    /*font-family: 'Bangers', cursive;*/
    font-family: "compacta-bold-italic-bt";
}
h3{
    font-weight: 700;
}
svg{
    opacity: 0.4;
    position: absolute;
    color: yellow;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: image 0.6s alternate infinite;
}
svg:hover{
    color: #008b8b90;
}
@keyframes image {
    from {
        top: 75%;
      }
}
#idObj, #idCarac, #idHabili{
    padding-top: 25px;
    padding-left: 7vw;
}
.sectionBio{
    min-height: 100vh;
    background-color: #000f0f;
    background-position: center;
    background-repeat: no-repeat;
}
.pbio{
    padding-top: 35px;
  }
.pbio::first-letter{
    font-size: 2rem;
}
p{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 25px;
    text-align: justify;
}
.h2Personagem{
    text-align: center !important;
}
.sectionPersonagem{
    height: auto;
    padding-bottom: 50px;
    text-align: justify !important;
    background-color: #000f0f;
}
.container{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: auto;
}
.articleQuali{
    text-align: center !important;
    width: 50%;
    background-color: #000f0f;
}
.articleDefeitos{
    text-align: center !important;
    width: 50%;
    background-color: #000f0f;
}
.pcaracteristicas, .phabilidades{
    text-align: justify;
}
 .pqualidades, .pdefeitos{
    text-align: center;
}
hr{
    border-color: rgb(40, 180, 199);
}
.imgDog{
    width: 85%;
    height: auto;
    margin-top: 35px;
}
.secGosta{
    height: auto;
    padding-bottom: 50px;
    background-color: #000f0f;
}
.secSites{
    background-color: #000f0f;
}
.ulSites{
    margin-top: 25px;
    margin-bottom: 35px;
    justify-content: center;
    padding-left: 0px;
}
.ulSites li {
    padding: .4rem;
}
footer{
    background-color: black;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
